@using DataAccess
@model IEnumerable<User>

@{
    ViewData["Title"] = "Settings";
}
<h1>@ViewData["Title"]</h1>

@{
    foreach (var user in Model)
    {
        <p>Name: @user.Name</p>
        <p>Login: @user.Login</p>
        <p>Phone: @user.Phone</p>
        <p>Email: @user.Email</p>
        <p>Password: @user.Password</p>

        <form asp-action="Settings" asp-controller="Home" asp-anti-forgery="true">
            <div class="form-group">
                <input type="text" name="Password" placeholder="change password" />
                <button>Change</button>
            </div>
        </form>

    }
}

